/* FIXED HEADER */
header {
  position: fixed ;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
}


.menu.left li:nth-last-child(-n+3):hover{
  border-bottom: 2px solid black;
}
.menu.right li:nth-child(-n+3):hover{
  border-bottom: 2px solid black;
}
.menubox {
  height: 70px;
  width: 50%;
  line-height: 70px;
}


/* HEADER MENU LEFT */

.menu.left li:first-of-type {
  padding-left: 10px;
  vertical-align: middle;
}

.menu li{
  cursor: pointer;
  display: inline-block;
  margin-right: 30px;
}
/* /HEADER MENU LEFT */

/* HEADER MENU RIGHT */
.menu.right {
  float: right;
}

.menu.right ul li:last-of-type a:nth-last-of-type(1){
  color: white;
  background-color:rgb(0, 97, 255) ;
  padding: 5px 15px;
}

.menu.right ul li:last-of-type a:nth-last-of-type(1):hover {
  opacity: 0.6;
}
/* /HEADER MENU RIGHT */


/* JUMBOTRON */
.jumbotron {
  margin-bottom: 100px;
  background-color:rgb(180, 208, 231) ;
}

.containersml h1 {
  font-size: 3.5rem;
  padding:50px 0px 30px 0px ;
  text-align: left;
}

.jumbotext p {
  line-height: 20px;
  font-size: 1rem;
}

.jumbo.button {
  margin: 30px 0;
}

.jumbo.button a {
  padding:10px 20px 10px 20px;
}
.jumbo.button a:hover {
  opacity: 0.6;
}

.jumbotext p:last-of-type {
  font-size: 13px;
}

.fa-arrow-down{
  padding-top: 30px;
  font-size: 2rem;
  color: black;
}
.jumboimg {
  padding-left: 30px;
  width: 70%;
}
.jumboimg img {
  margin: 0 0 -70px 0;
  width:calc(100%);
}
/* /JUMBOTRON */

/* CARD COLUMN SECTION */

 .plan h2 {
  font-size: 2.5em;
  padding-bottom: 30px;
}
/* FAKE RADIO BUTTONS */
.circle {
  display: inline-block;
  background-color: white;
  border:1px solid lightgray;    
  height:15px;
  width:15px;
  border-radius:50%;
}
.circle.blueborder {
  border:4px solid rgb(0, 97, 255);    
}

.radiobuttons {
  padding-bottom: 30px;
}
/*/ FAKE RADIO BUTTONS */


.card {
  width: calc(100% / 3 - 40px );
  border: 1px solid lightgray;
  height: 965px;
}

.col.center {
  margin: 0 60px;
}

.btm-card {
  border: 1px solid lightgray;
}
.plan p{
  padding-right: 15px;
  display: inline-block;
}

.plan-kind {
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}
.card ul {
  padding: 30px;
}
.top.list h2 {
  padding-left: 0px;
  font-size: 1.5em;
}

.top.list li:nth-child(2) {
  font-weight: bold;
}

.top.list li:nth-child(3){
  padding-top: 5px;
  padding-bottom: 40px;
  color: gray;
  font-size: 10px;
}

.top.list li:nth-last-child(-n+3){
  margin-left: 17px;
  padding-bottom: 20px;
  font-size: 12px;
}
.top.list li:nth-last-child(-n+3) i {
  margin: -17px;
  padding-right: 20px;
}


.greyline {
  width: 40px;
  border-bottom: 1px solid lightgray;
  margin-left: 30px;
  padding-top: 20px;
}

.btm.list i {
  margin: -24px;
  padding-right: 30px;
  color:rgb(0, 97, 255) ;
}


.btm.list li {
  padding: 10px;
}

/* BOTTONE CARD */

.free-trial {
  padding-bottom: 30px;
  text-align: center;
}
.free-trial a {
  padding: 5px 60px 5px 60px;
}
.free-trial a:hover {
  opacity: 0.8;
}
/* /BOTTONE CARD */
.card span {
  padding: 30px;
  font-size: 12px;
}
.card span a {
  color:rgb(0, 97, 255) ;
  text-decoration: underline;
}



/* BOTTOM CARD */
.float-right.button {
  margin: 40px 15px 0 0;
}
.float-right a {
  padding: 5px 60px;
}

.float-right a:hover {
  opacity: 0.6;
}

.btm-card li h2 {
  padding-left: 30px;
  padding-top: 30px;
}
.btm-card li p{
  padding-left: 30px;
  margin-bottom: 30px;
}

.btm-card {
  margin: 40px auto;
  width: 100%;
}
/* /CARD COLUMN SECTION */


/* FIND A PARTNER */

.partner.img {
  width: 50%;
}
.partner.img img {
  width: 100%;
}
.partner.text {
  padding: 30px 0 0 60px;
}

.partner.text h2 {
  padding-bottom: 20px;
}

.partner.text p {
  line-height: 25px;
  padding-bottom: 25px;
} 
.white.btn a:hover {
  background-color: lightgray;
}
/*/ FIND A PARTNER */

/* OPERATIONS */
 .ops h2 {
  font-size: 3rem;
  padding-bottom: 30px;
 }

 .operations {
   padding-top: 30px
 }

.operations.img {
  width: 70%;
}

.operations.img img {
  width: 100%;
  padding-bottom: 10px;
}

.operations h3 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

/* /OPERATIONS */

.end.title {
  padding-bottom: 30px;
  padding-top: 30px;
}

.end.title h2 {
  font-size: 2.5rem;
  padding-bottom: 20px;
}

.end.title a {
  text-decoration: underline;
  color:rgb(4, 99, 255) ;
}

/* SPONSOR SECTION */
.sponsor-box{
  width: 30vw;
  height: 30vw;
}

.blockimage {
  position: relative;
}

.blockimage img {
  filter: invert(100%);
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
/* SPONSOR SQUARES */
 #design {
  background-color: rgb(162, 211, 155);
}

#uni {
  background-color: rgb(97, 8, 43);
}

#floridauni {
  background-color: rgb(0, 147, 206);
}

#topps {
  background-color: rgb(255, 28, 28);
}

#wbr {
  background-color: rgb(213, 0, 31);
}

#hearst {
  background-color: rgb(180, 208, 231);
}

#lonely-planet {
  background-color: rgb(13, 36, 129);
}

#cco {
  background-color: rgb(255, 216, 48);
}

.active:active{
  border: 5px solid rgba(255,255,255, 0.2);
}

/* /SPONSOR SQUARES */

/* SPONSOR DESCRIPTION */

.designitlogo {
  float: left;
  padding: 40px 0 40px 40px;
  width: 30%;
}
.designitlogo img {
  width: 100%;
}
.grey-line {
  width: 40px;
  border-bottom: 1px solid lightgray;
  padding-top: 25px;
}

.sponsor-description-box{
  background-color: rgb(245, 245, 245);
  width: calc(100% - 60vw);
  height: 30vw;
}

.sponsor-description-box p {
  padding:0px 30px 40px 40px;
}


.sponsor-btm {
  background-color: rgb(180, 208, 231);
}
.sponsor-btm h2 {
  padding-bottom: 100px;
  padding-right: 300px;
  font-size: 2.5rem;
  color: rgb(97, 8, 43);
}

.sponsor-btm .btn a {
  border: none;
  padding-left: 40px;
  padding-right: 40px;
}

.sponsor-btm .btn a:hover {
  background-color: lightgray;
}
/* /SPONSOR SECTION */

/* FAQ */

.faq h2 {
  padding-bottom: 30px;
  border-bottom: 1px solid lightgrey;
}

.question h4 {
  padding-top: 20px;
}


.question.text {
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  position: relative;
}

.question.text i {
  position: absolute;
  right: 0;
  top: 20px;
}

.faq {
  padding-bottom: 100px;
}


/* FOOTER */
footer {
  background-color: black;
}
.footernav ul {
  padding-bottom: 100px;
}





.footernav{
  background-color: black;
  width: calc(100% / 5 - 40px);
  margin: 0 20px;
}
.footernav li {
  padding-bottom: 10px;
}

.footernav li:first-child {
  font-size: 1.2rem;
  color: white;
  padding-bottom: 10px;
}

.footernav a {
  font-size: 0.9rem;
  color: white;
  padding-bottom:30px;
  
}

hr {
  border: none;
  color: grey;
  height: 1px;
  background-color: grey;
  width: 50%;
  margin-bottom: 30px;
}

.footernav i {
  color: lightgrey;
}

.footernav p {
  padding:2px;
  display: inline-block;
  color: lightgray;
}

.arrow {
  vertical-align: sub;
}
/* /FOOTER */