
.float-left {
  float: left;
}

.w50 {
  height: 70px;
  width: 50%;
  line-height: 70px;
}

.text-right {
  text-align: right;
}

.containersml {
  width: 80%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.debug {
  background-color: rgba(255, 0, 0, .3);
  border: 1px solid black;
}

.hw50{
  height: 10vw;
  width: 10vw;
}

.hw100{
  height: 100px;
}

.h100 {
  min-height: 100px;
}

.h300 {
  min-height: 300px;
}

.h500 {
  min-height: 500px;
}

