
.float-left {
  float: left;
}
.float-right{
  float: right;
}
/* BLUE BUTTON */
.button a{
  color: white;
  background-color:rgb(0, 97, 255) ;
}

.btn a {
  color: black;
  border: 1px solid black;
  padding: 5px 20px;
  background-color: white;
}

.w50 {
  width: 50%;
}

.text-right {
  text-align: right;
}

.containersml {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.debug {
  background-color: rgba(255, 0, 0, .3);
  border: 1px solid black;
}

.hw50{
  height: 15vw;
  width: 15vw;
}

.hw100{
  height: 100px;
}

.h100 {
  min-height: 100px;
}

.h300 {
  min-height: 300px;
}

.h500 {
  min-height: 500px;
}
/* contenitore operazioni */
.operations {
  width: calc(100% / 3);
}